.statementContainer {
  margin-top: 1em;
  height: 50vh;
  text-align: center;
}

.statistics {
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics li {
  display: inline-block;
  margin: 2em 3em;
}

#obesityPercentage,
#obesityFraction,
#obesityRecognition {
  font-weight: bolder;
  font-size: 3.25em;
}

#obesityPercentage {
  color: #979d9b;
}

#obesityFraction {
  color: rgb(192, 89, 41);
}

#obesityRecognition {
  color: #5a867b;
}
