
.main {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
  }

  .companyLogo {
    height: 60em;
    width: 60em;
    margin: 0 auto;
  }

  .text {
    font-size: 20em;
    color: black;
    font-family: sacramento;
  }