.header {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 4px solid #B13F11;
  }

  /* #77002e; */
  
.logo {
    font-size: 2rem;
    color: #5A867B;
    font-weight: bold;
  }


  
  .header ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: baseline;
    width: 85vw;
  }
  
  .header li {
    margin: 1.75em;

  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5A867B;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #3b493b;
  }
  