.missionContainer {
    margin-top: 2em;
    margin-bottom: 2em;
    /* height: 90vh; */
    background-color: #BDC99F;
}

.missionContainer h1 {
    text-align: center;
    color: rgb(192, 89, 41);
    padding: 0.25em;
}

.missionContainer p {
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    color: rgb(192, 89, 41);
}

.cardContainer h2 {
    margin: 0.5em 0;
    text-align: center;
}


.cardContainer li {
    padding: 0.75em;
    text-align: start;
}
