.logoContainer {
    z-index: 0;
    display: block;
    margin: 0 auto;
    opacity: 0;
    width: 100%;

}

.svgContainer {
    stroke: black;
    stroke-width: 10px;
}

/* .solidLogo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    opacity: 0;
    z-index: 1;
    height: 40em;
    width: 40em;
} */

.logoContainer img {
    height: 42em;
    width: 42em !important;
    margin: 1em auto;
    
}

.logoContainer h1 {
    position: absolute;
    left: 21em;
    top: 20em;
    font-weight: 800;
    font-size: 1.75em;
    color: #B13F11
    
}

.logoContainer p {
    color: #B13F11;
    font-size: 3em;
    font-weight: 900;
    font-weight: bolder;
    text-align: center;

}

.logoContainer span {
    color: black;
}