.logoContainer {
  z-index: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.svgContainer {
  stroke: black;
  stroke-width: 10px;
}

/* .solidLogo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    opacity: 0;
    z-index: 1;
    height: 40em;
    width: 40em;
} */

.logoContainer svg {
  height: 42em;
  width: 50em !important;
  margin: 1em auto;
}

.logoContainer h1 {
  position: absolute;
  left: 28em;
  top: 19em;
  font-weight: 800;
  font-size: 1.75em;
  color: #b13f11;
}

.logoContainer p {
  color: #b13f11;
  font-size: 3em;
  font-weight: 900;
  font-weight: bolder;
  text-align: center;
}

.logoContainer span {
  color: black;
}
